.main {
  width: 100%;
  display: grid;
  grid-template-columns: 40% auto;
  min-height: 60vh;
}

.profileImage {
  position: relative;
  width: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2em;
  min-width: 300px;
}

.subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.75em;
  color: slategray;
}

.contact {
  margin: auto;
  text-align: center;
  align-self: flex-end;
}

.btn {
  background-color: #fff;
  color: #fff;
  background-color: #f06543;
  padding: 1em 3em;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
}
