.main {
  width: 100%;
  padding: 2em;
  display: grid;
  grid-template-columns: 45% auto;
}

.bio {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2em;
  min-width: 300px;
}

.contact {
  margin: auto;
  text-align: center;
  align-self: flex-end;
}

.btn {
  background-color: #fff;
  color: #fff;
  background-color: #f06543;
  padding: 1em 3em;
  border-radius: 25px;
  font-size: 1em;
  font-weight: bold;
}

.welcome {
  padding: 0 2em;
}
