.logo {
  font-size: 30px;
  font-weight: bold;
  color: #067bc2;
  margin: 0;
}

.menu {
  margin-left: 2em;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu li {
  font-size: 16px;
  font-weight: bold;
  margin-left: 2em;
}
